<% if @instructors.empty? %>
  <h1>Nenhum professor cadastrado</h1>
<% end %>

<% @instructors.each do |instructor| %>
  <h1><%= link_to instructor.name, instructor %></h1>
  <p><%= instructor.bio %><p>
<% end %>

<%= link_to 'Registrar um Professor', new_instructor_path %>
<%= link_to 'Voltar', root_path %>